/*代码初始化*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;
font-family:helvetica; } 
a{color:#a4a4a4;text-decoration:none} 
a:hover{color:#cd0200;/*text-decoration:underline*/} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
.footer{
	min-height: 420px;
	min-width: 1200px;
	background: #f9f9f9;
}
.footer .slogan-container{
	width: 1200px;
	margin: 0 auto;
	padding: 22px 0 20px;
	height: 82px;
	/*line-height: 82px;*/
	border-bottom: 1px solid black;
}

.footer .slogan-container li{
	float: left;
	text-align: center;
	margin-top: 10px;
	width: 25%;
}
.slogan-container li a{
	font-size: 18px;
	display: block;
	height: 40px;
	min-width: 270px;
	margin: auto;
	float: left;
	position: relative;

}
.slogan-container li a span{
	position: absolute;
	top: 8px;
	left:55px;
}
.footer .slogan-container li i{
	color: crimson;
	font-size: 40px;
	position: absolute;
	top: 0;
	left: 0;
	
}
.footer .service{
	width: 1200px;
	height: 211px;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
	padding: 23px 0 24px;
	box-sizing: border-box;
}
.service .serviceL{
	float: left;
	width: 921px;
	height: 160px;
	border-right: 1px solid #e5e5e5;
	padding-top: 5px;
	box-sizing: border-box;
}
.serviceL dl{
	width: 16.66%;
	float: left;

}
.serviceL dl:nth-last-child{
	border-right: 1px solid #ccc;
}
.serviceL dl dt{
	font-size: 14px;
	padding-bottom: 7px;
}
.serviceL dl dd{
	font-size: 12px;
	line-height: 22px;

}
.service .serviceR{
	float: right;
	width: 279px;
	min-height: 160px;
	text-align: center;
	margin-top: 2px;
}
.service .serviceR dl{
	text-align: center;
	line-height:30px;
}
 .serviceR dl dt{
	font-size: 22px;
	color:#cb242b;
	font-weight: bold;
}
 .serviceR dl a{
	display: block;
	width: 168px;
	height: 32px;
	font-size: 14px;
	border: 1px solid #cb242b;
	margin: 0 auto;
	line-height: 32px;
	border-radius: 8px;
	color: #cb242b;

}
.service .serviceR   span{
	margin-right: 10px;
}
.serviceR dl dd{
	font-size: 14px;
	margin-top: 5px;
}
.serviceR .serviceRcode{
	width: 250px;
	height: 24px;
	margin-left: 37px;
	margin-top: 26px;
	
}
.serviceR .serviceRcode h3{
	float: left;
	line-height: 24px;
	font-weight: normal;
}
.serviceRcode li{
	float: left;
	width: 16%;
	text-align: center;
	line-height: 24px;
	position: relative;
}
.serviceRcode li:first-child:hover .weixin{
	display: block;
}
.serviceRcode .weixin{
	display: none;
	width: 120px;
	height: 120px;
	position: absolute;
	left: -40px;
	top: 40px;
}
.serviceRcode .weixin img{
	height: 120px;
	width: 120px;
}
.footer .footerConter{
	width: 1200px;
	height: 123px;
	margin: 0 auto;
	/*background: #f9f9f9;*/
	margin-top: 20px;
	overflow: hidden;
	/*padding: 22px 0 22px;*/
}
.footerConter p{
	/*float: left;*/
	/*padding: ;*/

}
.footerConter p img{
		width: 82px;
	height: 20px;
}
.footerConter .fl{
	width: 82px;
	height: 20px;
	float: left;
	padding: 3px 20px 0 0;
	

}
.footerConter .fc{
	line-height: 16px;
	height: 79px;
	float: left;
	min-width: 700px;
}
.footerConter .fc li{
	float: left;
	height: 12px;
	text-align: center;
	padding-right: 6px;
	border-right: 1px solid #d3d3d3;
	margin-right: 6px;
	

}
.footerConter .fc li:last-child{
	border: 0;
}
.footerConter .fc li a{
	color:#777;
}
.footerConter .fc a:hover{
	color: #cb242b;
}
.footerConter .fc span{
	line-height: 20px;
	color:#a4a4a4;
}
.footerConter a{
	/*line-height: 20px;*/
	color: #a4a4a4;
}
.footerConter .fr{
	float: right;
}
.footerConter .fr img{
	width: 70px;
	height: 24px;
	margin-left: 10px;
}
